.headerCont{
    border: solid yellow;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.title{
    color: peru;
}

.subtitle{
    color: midnightblue;
    font-size: 30px;
}

.gospel{
    border: solid 3px blue;
    height: 220px;
    width: 100%;
}
.country{
    border: solid 3px orange;
    height: 220px;
    width: 100%;
}
.classical{
    border: solid 3px green;
    height: 220px;
    width: 100%;
}

.textContainer{
    border: solid 3px magenta;
    height: 50px;
    width: 100%;
}

/* .newText{
    border: solid 3px red;
    height: 220px;
    width: 100%;
} */